footer p {
  font-size: 1rem;
  margin: 5px;
  font-weight: bold;
}

#subscribe {
  width: 300px;
  font-size: 1.1rem;
  background-color: #ebebeb;
  border-radius: 5px;
  border: none;
  padding: 4px;
}

.subscribe-btn {
  margin: 0 10px;
  background-color: #3C0061;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.3s;
}

.subscribe-btn:hover {
  background: #5d5d5d;
}

.footer-bottom p {
  color: white;
  padding: 5px;
  margin: 0;
}

.footer-bottom {
  background: #FFAA2B;
}
