header {
  display: grid;
  grid-template-columns: 1fr 6fr;
  width: 100vw;
  justify-content: space-between;
  align-items: flex-end;
}

header img {
  height: 90px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  font-family: 'Montserrat';
  font-weight: bold;
  display: block;
  width: auto;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  margin: 20px;
  padding: 5px;
  color: #3C0061;
  transition: 0.4s;
  border-bottom: 2px solid transparent;
}

.active {
  border-bottom: 2px solid #3C0061;
}

.nav-link:hover {
  color: white;
  text-shadow: 2px 2px black;
}

@media only screen and (max-width: 600px) {
  nav {
    overflow: hidden;
    position: relative;
  }
  header {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  nav {
    display: flex;
    flex-direction: column;
    font-size: 30px;
  }

}
