header {
  display: grid;
  grid-template-columns: 1fr 6fr;
  width: 100vw;
  justify-content: center;
  align-items: flex-end;
  background-color: white;
  border-bottom: 2px solid #dadada;
}

.placeholder {
  background-color: orange;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  display: block;
  width: auto;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  color: orange;
  border-bottom: 2px solid transparent;
  transition: 0.4s;
}

.nav-link:hover {
  border-bottom: 2px solid white;
  color: white;
  background-color: orange;
}
