@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background-image: url("./assets/Desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  background-color: rgba(60, 0, 97, 0.08)
}

.about h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  color: white;
}

.about p {
  text-align: justify;
  width: 85%;
  margin: 10px auto;
  font-family: 'helvetica';
  font-weight: bold;
  font-size: 18px;
  color: #3c0061;
}

.results {
  text-align: left;
  margin-left: 10%;
}

.articles {
  border: 3px #FFAA2B solid;
  margin: 10px auto 10px auto;
  background-color: white;
  max-width: 80%;
  display: grid;
  grid-template-columns: 410px 4fr;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  height: 100%;
  width: 95%;
}

.articles p {
  font-family: 'helvetica';
  font-size: 15px;
  line-height: 1.3em;
}

.articles h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.articles img {
  max-width: 365px;
  max-height: 175px;
  display: block;
  margin: 28px;
}

.h1-link {
  text-decoration: none;
  color: black;
}

.link {
  color: #ffaa2b;
}

.link:hover {
  color: #3c0061;
}

.articles div {
  margin: 10px;
  margin-right: 28px;
  text-align: left;
}

.bodyanimals {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.forums {
  border: 3px #FFAA2B solid;
  margin: 10px auto 10px auto;
  background-color: rgba(255, 255, 255, 0.479);
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.forums p {
  font-family: 'helvetica';
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.forums h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.forums img {
  max-width: 389px;
  height: 175px;
  margin-left: 30px;
  margin-top: 28px;
  margin-bottom: 28px;
  margin-right: 28px;
}

.forums div {
  margin-right: 28px;
  text-align: center;
  justify-content: space-between;
}

.forums button {
  max-width: 200px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.forum-brief {
  margin-top: auto;
}

.searchbar {
  width: 60%;
  height: 40px;
  border-radius: 5px;
  font-size: 25px;
  font-family: 'helvetica';
  margin-right: 10px;
  padding-left: 7px;
}

.searchbutton {
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'helvetica';
}

.one-article {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 3px solid #FFAA2B;
  background-color: white;
}

.one-article p {
  white-space: pre-line;
  margin: 50px;
  text-align: justify;
}

.one-article img {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
}

.one-article h1 {
  text-align: left;
  margin-left: 50px;
}

@media only screen and (max-width: 600px) {

  .bodyanimals {
    flex-direction: column;
  }

  .bodyanimals img {
    width: 80%;
    height: auto;
  }

  h1 {
    font-size: 15px;
  }

  .allarticles {
    overflow: scroll;
  }

  .articles {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 95%;
    height: 100%;
  }

  .articles img {
    max-width: 100%;
    height: auto;
    margin: 3px 3px 0 3px;
  }

  .articles div {
    margin-left: 10px;
    margin-right: 10px;
  }

  .articles h1 {
    font-size: 20px;
  }

  .articles p {
    font-size: 14px;
  }

  .forums p {
    margin-left: 20px;
    margin-right: 20px;
  }

  .forums div {
    margin-bottom: 20px;
  }

  .one-article h1 {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .one-article {
    width: 95%;
  }

  .one-article p {
    margin-left: 20px;
    margin-right: 20px;
  }

}
