.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background-image: url("./assets/Desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.articles {
  border: 3px #FFAA2B solid;
  margin: 10px auto 10px auto;
  background-color: white;
  max-width: 80%;
  display: flex;
  height: 230px;
  width: 1186px;
}
.articles p {
  font-family: 'helvetica';
  font-size: 15px;
}
.articles h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.articles img {
  max-width: 389px;
  height: 175px;
  margin-left: 30px;
  margin-top: 28px;
  margin-bottom: 28px;
  margin-right: 28px;
}
.articles div {
  margin-right: 28px;
  text-align: left;
}
.bodyanimals {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.searchbar {
  width: 60%;
  height: 40px;
  border-radius: 5px;
  font-size: 25px;
  font-family: 'helvetica';
  margin-right: 10px;
}
.searchbutton {
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'helvetica';
}

@media only screen and (max-width: 500px) {
  .bodyanimals {
    flex-direction: column;
  }

  h1 {
    font-size: 15px;
  }
  .allarticles {
    overflow: scroll;
  }
  .articles {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
  }
  .articles img{
    max-width: 100%;
    height: auto;
    margin: 3px 3px 0 3px;
  }
  .articles div {
    margin-left: 10px;
    margin-right: 10px;
  }
  .articles h1 {
    font-size: 17px;
  }
  .articles p {
    font-size: 14px;
  }




}